/* CSS Document */

/* MENU */
#menuSuperiorFundo{
	position:absolute;
	top:140px;
	left:0px;
	height:45px;
	width:100%;
	z-index:0;
	background:#172322;
}
#menuSuperior{
	position:absolute;
	top:140px;
	left:280px;
	/*width:935px;*/
	z-index:4;
	background:#172322;
}
		body { font-family:Arial, Helvetica, Sans-Serif; font-size:12px; margin:0px 20px;}
        /* menu */
        #menu{ margin:0px; padding:0px; list-style:none; color:#fff; line-height:45px; display:inline-block; float:left; z-index:1000; }
        #menu a { color:#fff; text-decoration:none; }
        #menu > li {background:#172322 none repeat scroll 0 0; cursor:pointer; float:left; position:relative;padding:0px 10px;}
        #menu > li a:hover {color:#B0D730;}
        #menu .logo {background:transparent none repeat scroll 0% 0%; padding:0px; background-color:Transparent;}
        /* sub-menus*/
        #menu ul { padding:0px; margin:0px; display:block; display:inline;}
        #menu li ul { position:absolute; left:-10px; top:0px; margin-top:45px; /*width:150px;*/ width:480px; line-height:16px; background-color:#172322; color:#0395CC; /* for IE */ display:none; }
        #menu li:hover ul { display:block; -moz-box-shadow: 10px 30px 20px #333; -webkit-box-shadow: 10px 30px 20px #333; box-shadow: 10px 30px 20px #333;}
        #menu li ul li{ display:block; margin:5px 20px; padding: 5px 0px;  border-top: dotted 1px #606060; list-style-type:none;  }
        #menu li ul li:first-child { border-top: none; }
        #menu li ul li a { display:block; color:#B0D730; }
        #menu li ul li a:hover { color:#FFF; }
        /* main submenu */
        #menu #main { left:0px; top:-20px; padding-top:20px; background-color:#7cb7e3; color:#fff; z-index:999;}
        /* search */
        .searchContainer div { background-color:#fff; display:inline; padding:5px; }
        .searchContainer input[type="text"] {border:none;}
        .searchContainer img { vertical-align:middle;}
        /* corners*/
        #menu .corner_inset_left { position:absolute; top:0px; left:-12px;}
        #menu .corner_inset_right { position:absolute; top:0px; /*left:150px;*/ left:480px;}
        #menu .last { background:transparent none repeat scroll 0% 0%; margin:0px; padding:0px; border:none; position:relative; border:none; height:0px;}
        #menu .corner_left { position:absolute; left:0px; top:0px; }
        #menu .corner_right { position:absolute; /*left:132px;*/ left:462px; top:0px;}
        #menu .middle { position:absolute; left:18px; height: 20px; /*width: 115px;*/ width: 445px; top:0px; }
/*FIM MENU*/

#menu table{
	border: solid 0px;
	border-collapse:separate;
	border-spacing:30px 10px;
	-moz-box-shadow: 3px 0px 10px #666; 
	-webkit-box-shadow: 3px 0px 10px #666;
	box-shadow: 3px 0px 10px #666;
	color:#CCC;
}
#menu table tr td a{
	width:80px;
	text-align:center;
	/*background: url(../img/bgCategoria1.png) repeat-x;*/
}
#menu table tr td{
	/*-khtml-opacity:.6;
	-moz-opacity:.6;
	opacity:.6;
	background:#FFF;*/

}
.verde{
	color:#B0D730;
}
